//primeiro exemplo de sass

$fundo: orange;
$cor-titulo: red;
$border: 1px solid green;

body {
    background: $fundo;

    div {
        // border: 2px solid black;
            border: $border;
        h1 {
            color:$cor-titulo;
            font-size: 12px;
        }
        h2 {
            color: grey;
        }
    }

}
