//primeiro exemplo de sass
body {
    background: red;

    div {
        border: 2px solid black;
        h1 {
            color:yellow;
            font-size: 12px;
        }
        h2 {
            color: grey;
        }
    }

}
