div {
    color: red;
}

div::before {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px dashed red;
    background: blue;
    content: "";

    border-radius: 50%;
}

div:after {
    content: " em css Pro";
}



