body {
    background: #002244;
  }
  
  .container {
    border: 3px solid white;
    /* width: 640px; */
    height: 480px;
  
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    flex-direction: column-reverse;
    /* flex-wrap: wrap-reverse; */
    justify-content: space-between;

  }
  
  .filho {
    color: white;
    border: 2px solid yellow;
    width: 100px;
    height: 100px;

    /* ponto de partida do elemento, não comum */
    /* flex-basis:  200px; */
  }

  /* .outra-classe {
      flex-basis: ;
  } */